*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Roboto",sans-serif;
}
body{
    min-height:100vh;
    display: flex;
    align-items:center;
    padding: 20px;
    justify-content: center;
    background: rgb(192, 190, 146);
}
.container{
    position:relative;
    max-width: 700px;
    width:100%;
    background: #fff;
    padding:25px;
    border-radius: 8px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}
.container header{
    font-size:1.5rem;
    color:#333;
    font-weight:500;
    text-align:center;
}
.container .form{
margin-top: 30px;

}
.form .input-box{
    width:100%;
    margin-top: 20px;
}
.input-box label{
    color: #333;
}
.form .input-box input{
    position:relative;
    height:50px;
    width:100%;
    outline:none;
    font-size:1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius:6px;
    padding: 0 15px;
    margin-top: 8px;
}
.form.column{
    display: flex;
    column-gap:15px;
}
.form.sexe{
    column-gap: 5px;
    cursor:pointer;
}
.form:where(.sexe-option,.sexe){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap:wrap;
}
.sexe label{
    color: #707070;
}
.form.sexe-box{
    margin-top: 20px;
}
.sexe-box h3{
    color:#333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form:where(.sexe input,.sexe label){
    cursor:pointer;
}
@media screen and(max-width:500px){
    .form.column{
        flex-wrap:wrap;
    }
}
.form:where(.sexe-option,.sexe){
    row-gap: 15px;
}
.addres input{
    margin-top: 15px;
}
.form button{
    height:55px;
    width: 100%;
    background-color:  rgb(0, 0, 0);
    color:#fff;
    font-size: 1rem;
    font-weight: 400;
    border:none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.form button:hover{
    background-color: rgb(139, 139, 139)
}
.sexe input{
accent-color:  rgb(130,106,251);
}